In [2]:
#Create a set
s={10, 22.5,'Samruddhi', True}
print(s)

{True, 10, 'Samruddhi', 22.5}

In [3]:
#unordered
s

{10, 22.5, 'Samruddhi', True}

In [4]:
#DUPLICATES NOT ALLOWED IN SET
S={10, 22.5,'Samruddhi', True}
print(S)

{True, 10, 'Samruddhi', 22.5}

In [5]:
len(S)

4

In [6]:
type(S)

set

In [7]:
#UNCHANGABLE
#SET ITEMS ARE UNCHANGEABLE, MEANING THAT WE CANNOT
S={10, 22.5,'Samruddhi', True}
S[0]

TypeError: 'set' object is not subscriptable

In [8]:
#ADDITION OF ELEMENT IN SET
S={10, 22.5,'Samruddhi', True}
S.add('Sai')
print(S)

{True, 10, 'Samruddhi', 'Sai', 22.5}

In [10]:
#Removal of element in set
S={10, 22.5,'Samruddhi', 'Sai', True}
S.remove('Sai')
print(S)

{True, 22.5, 10, 'Samruddhi'}

In [11]:
#Updating multiple elements in set
S={10,20,30}
S.update([1, 2, 3])
print(S)

{1, 2, 3, 10, 20, 30}

In [12]:
#Union in python set
s1={1, 2, 3}
s2={10, 20, 30}
s1.union(s2)

{1, 2, 3, 10, 20, 30}

In [13]:
#Intersection in python set
s1={1, 2, 3, 66}
s2={10, 20, 30, 66}
s1.intersection(s2)

{66}